<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iyuezu.mybatis.mapper.RentInfoMapper">

	<resultMap id="rentInfoResult" type="RentInfo">
		<result property="uuid" column="ri_uuid" />
		<result property="room" column="ri_room" />
		<result property="hall" column="ri_hall" />
		<result property="kitchen" column="ri_kitchen" />
		<result property="defend" column="ri_defend" />
		<result property="size" column="ri_size" />
		<result property="minPrice" column="ri_min_price" />
		<result property="maxPrice" column="ri_max_price" />
		<result property="contactName" column="ri_contact_name" />
		<result property="contactPhone" column="ri_contact_phone" />
		<result property="contactWechat" column="ri_contact_wechat" />
		<result property="reservationCount" column="ri_reservation_count" />
		<result property="type" column="ri_type" />
		<result property="detail" column="ri_detail" />
		<result property="status" column="ri_status" />
		<result property="createTime" column="ri_create_time" />
		<result property="updateTime" column="ri_update_time" />
		<association property="district" javaType="District" resultMap="districtResult" />
		<association property="renter" javaType="User" resultMap="renterResult" />
	</resultMap>

	<resultMap id="rentInfoDtoResult" type="RentInfoDto">
		<result property="uuid" column="ri_uuid" />
		<result property="room" column="ri_room" />
		<result property="hall" column="ri_hall" />
		<result property="kitchen" column="ri_kitchen" />
		<result property="defend" column="ri_defend" />
		<result property="size" column="ri_size" />
		<result property="minPrice" column="ri_min_price" />
		<result property="maxPrice" column="ri_max_price" />
		<result property="contactName" column="ri_contact_name" />
		<result property="contactPhone" column="ri_contact_phone" />
		<result property="contactWechat" column="ri_contact_wechat" />
		<result property="reservationCount" column="ri_reservation_count" />
		<result property="type" column="ri_type" />
		<result property="detail" column="ri_detail" />
		<result property="status" column="ri_status" />
		<result property="createTime" column="ri_create_time" />
		<result property="updateTime" column="ri_update_time" />
		<association property="district" javaType="District" resultMap="districtResult" />
		<association property="renter" javaType="User" resultMap="renterResult" />
		<collection property="reservations" ofType="RentReservation" javaType="ArrayList" resultMap="reservationResult"/>
	</resultMap>
	
	<resultMap id="districtResult" type="District">
		<result property="id" column="d_id" />
		<result property="code" column="d_code" />
		<result property="name" column="d_name" />
		<result property="parent" column="d_parent" />
		<result property="level" column="d_level" />
		<result property="status" column="d_status" />
	</resultMap>
	
	<resultMap id="renterResult" type="User">
    	<result property="uuid" column="re_uuid" />
    	<result property="account" column="re_account" />
		<result property="username" column="re_username" />
		<result property="name" column="re_name" />
		<result property="phone" column="re_phone" />
		<result property="email" column="re_email" />
		<result property="identity" column="re_identity" />
		<result property="head" column="re_head" />
		<result property="type" column="re_type" />
		<result property="status" column="re_status" />
		<result property="createTime" column="re_create_time" />
	</resultMap>
	
	<resultMap id="reservationResult" type="RentReservation">
    	<result property="uuid" column="rr_uuid" />
    	<result property="contactPhone" column="rr_contact_phone" />
    	<result property="remark" column="rr_remark" />
    	<result property="status" column="rr_status" />
		<result property="visitTime" column="rr_visit_time" />
		<result property="createTime" column="rr_create_time" />
		<association property="house" javaType="House" resultMap="houseResult" />
	</resultMap>
	
	<resultMap id="houseResult" type="House">
    	<result property="uuid" column="h_uuid" />
    	<result property="title" column="h_title" />
    	<result property="community" column="h_community" />
		<result property="room" column="h_room" />
		<result property="hall" column="h_hall" />
		<result property="kitchen" column="h_kitchen" />
		<result property="defend" column="h_defend" />
		<result property="size" column="h_size" />
		<result property="price" column="h_price" />
		<result property="discount" column="h_discount" />
		<result property="contactName" column="h_contact_name" />
		<result property="contactPhone" column="h_contact_phone" />
		<result property="contactWechat" column="h_contact_wechat" />
		<result property="reservationCount" column="h_reservation_count" />
		<result property="type" column="h_type" />
		<result property="floor" column="h_floor" />
		<result property="totalFloor" column="h_total_floor" />
		<result property="furnitures" column="h_furnitures" />
		<result property="description" column="h_description" />
		<result property="detail" column="h_detail" />
		<result property="pictures" column="h_pictures" />
		<result property="status" column="h_status" />
		<result property="freeTime" column="h_free_time" />
		<result property="createTime" column="h_create_time" />
		<result property="updateTime" column="h_update_time" />
		<association property="district" javaType="District" resultMap="houseDistrictResult" />
	</resultMap>
	
	<resultMap id="houseDistrictResult" type="District">
		<result property="id" column="hd_id" />
		<result property="code" column="hd_code" />
		<result property="name" column="hd_name" />
		<result property="parent" column="hd_parent" />
		<result property="level" column="hd_level" />
		<result property="status" column="hd_status" />
	</resultMap>
	
	<select id="selectRentInfos" resultMap="rentInfoResult" parameterType="com.iyuezu.mybatis.params.RentInfoParams">
		select
			ri.uuid as ri_uuid, ri.room as ri_room, ri.hall as ri_hall, ri.kitchen as ri_kitchen, ri.defend as ri_defend, ri.size as ri_size,
			ri.min_price as ri_min_price, ri.max_price as ri_max_price, ri.contact_name as ri_contact_name, ri.contact_phone as ri_contact_phone,
			ri.contact_wechat as ri_contact_wechat, ri.reservation_count as ri_reservation_count, ri.type as ri_type, ri.detail as ri_detail,
			ri.status as ri_status, ri.create_time as ri_create_time, ri.update_time as ri_update_time,
			d.id as d_id, d.code as d_code, d.name as d_name, d.parent as d_parent, d.level as d_level, d.status as d_status,
			re.uuid as re_uuid, re.account as re_account, re.username as re_username, re.name as re_name,
			re.phone as re_phone, re.email as re_email, re.identity as re_identity, re.head as re_head, re.type as re_type,
			re.status as re_status, re.create_time as re_create_time
		from rent_info as ri left join districts as d on ri.district_id = d.id left join users as re on ri.user_uuid = re.uuid
		<where>
			<if test="uuid != null">and ri.uuid = #{uuid}</if>
			<if test="renterUuid != null">and ri.user_uuid = #{renterUuid}</if>
			<if test="minSize != null">and ri.size &gt;= #{minSize}</if>
			<if test="maxSize != null">and ri.size &lt;= #{maxSize}</if>
			<if test="minPrice != null">and ri.max_price &gt;= #{minPrice}</if>
			<if test="maxPrice != null">and ri.min_price &lt;= #{maxPrice}</if>
			<if test="minRoomCount != null">and ri.room &gt;= #{minRoomCount}</if>
			<if test="maxRoomCount != null">and ri.room &lt;= #{maxRoomCount}</if>
			<if test="type != null">and ri.type = #{type}</if>
			<if test="status != null">and ri.status = #{status}</if>
			<if test="minCreateTime != null">and ri.create_time &gt;= #{minCreateTime}</if>
			<if test="maxCreateTime != null">and ri.create_time &lt;= #{maxCreateTime}</if>
			<if test="minUpdateTime != null">and ri.update_time &gt;= #{minUpdateTime}</if>
			<if test="maxUpdateTime != null">and ri.update_time &lt;= #{maxUpdateTime}</if>
			<if test="districtId != null and districtId != 0 and districtId != 1">
				and (d.id = #{districtId} or d.parent = #{districtId})
			</if>
		</where>
		order by ri.${order}
		<if test="isDesc == 1"> desc</if>
	</select>
	
	<select id="selectRentInfoByUuid" resultMap="rentInfoResult">
		select
			ri.uuid as ri_uuid, ri.room as ri_room, ri.hall as ri_hall, ri.kitchen as ri_kitchen, ri.defend as ri_defend, ri.size as ri_size,
			ri.min_price as ri_min_price, ri.max_price as ri_max_price, ri.contact_name as ri_contact_name, ri.contact_phone as ri_contact_phone,
			ri.contact_wechat as ri_contact_wechat, ri.reservation_count as ri_reservation_count, ri.type as ri_type, ri.detail as ri_detail,
			ri.status as ri_status, ri.create_time as ri_create_time, ri.update_time as ri_update_time,
			d.id as d_id, d.code as d_code, d.name as d_name, d.parent as d_parent, d.level as d_level, d.status as d_status,
			re.uuid as re_uuid, re.account as re_account, re.username as re_username, re.name as re_name,
			re.phone as re_phone, re.email as re_email, re.identity as re_identity, re.head as re_head, re.type as re_type,
			re.status as re_status, re.create_time as re_create_time
		from rent_info as ri left join districts as d on ri.district_id = d.id left join users as re on ri.user_uuid = re.uuid
		where ri.uuid = #{uuid}
	</select>
	
	<select id="selectRentInfoDtoByUuid" resultMap="rentInfoDtoResult">
		select
			ri.uuid as ri_uuid, ri.room as ri_room, ri.hall as ri_hall, ri.kitchen as ri_kitchen, ri.defend as ri_defend, ri.size as ri_size,
			ri.min_price as ri_min_price, ri.max_price as ri_max_price, ri.contact_name as ri_contact_name, ri.contact_phone as ri_contact_phone,
			ri.contact_wechat as ri_contact_wechat, ri.reservation_count as ri_reservation_count, ri.type as ri_type, ri.detail as ri_detail,
			ri.status as ri_status, ri.create_time as ri_create_time, ri.update_time as ri_update_time,
			d.id as d_id, d.code as d_code, d.name as d_name, d.parent as d_parent, d.level as d_level, d.status as d_status,
			re.uuid as re_uuid, re.account as re_account, re.username as re_username, re.name as re_name,
			re.phone as re_phone, re.email as re_email, re.identity as re_identity, re.head as re_head, re.type as re_type,
			re.status as re_status, re.create_time as re_create_time,
			rr.uuid as rr_uuid, rr.contact_phone as rr_contact_phone, rr.remark as rr_remark, rr.status as rr_status,
			rr.visit_time as rr_visit_time, rr.create_time as rr_create_time,
			h.uuid as h_uuid, h.title as h_title, h.community as h_community, h.room as h_room, h.hall as h_hall, h.kitchen as h_kitchen,
			h.defend as h_defend, h.size as h_size, h.price as h_price, h.discount as h_discount, h.contact_name as h_contact_name,
			h.contact_phone as h_contact_phone, h.contact_wechat as h_contact_wechat, h.reservation_count as h_reservation_count, h.type as h_type,
			h.floor as h_floor, h.total_floor as h_total_floor, h.furnitures as h_furnitures, h.description as h_description,
			h.detail as h_detail, h.pictures as h_pictures, h.status as h_status, h.free_time as h_free_time,
			h.create_time as h_create_time, h.update_time as h_update_time,
			hd.id as hd_id, hd.code as hd_code, hd.name as hd_name, hd.parent as hd_parent, hd.level as hd_level, hd.status as hd_status
		from rent_info as ri left join districts as d on ri.district_id = d.id left join users as re on ri.user_uuid = re.uuid
			left join rent_reservation as rr on rr.rent_uuid = ri.uuid left join houses as h on rr.house_uuid = h.uuid
			left join districts as hd on h.district_id = hd.id
		where ri.uuid = #{uuid}
	</select>
	
	<insert id="insertRentInfo" parameterType="RentInfo">
		insert into rent_info (
			uuid, user_uuid, district_id, room, hall, kitchen, defend, size, min_price, max_price, contact_name, contact_phone, contact_wechat, reservation_count,
			type, detail, status, create_time, update_time
		) values (
			#{uuid, jdbcType=VARCHAR}, #{renter.uuid, jdbcType=VARCHAR}, #{district.id, jdbcType=INTEGER}, #{room, jdbcType=INTEGER}, #{hall, jdbcType=INTEGER},
			#{kitchen, jdbcType=INTEGER}, #{defend, jdbcType=INTEGER}, #{size, jdbcType=NUMERIC}, #{minPrice, jdbcType=NUMERIC}, #{maxPrice, jdbcType=NUMERIC},
			#{contactName, jdbcType=VARCHAR}, #{contactPhone, jdbcType=VARCHAR}, #{contactWechat, jdbcType=VARCHAR}, #{reservationCount, jdbcType=INTEGER},
			#{type, jdbcType=TINYINT}, #{detail, jdbcType=VARCHAR}, #{status, jdbcType=TINYINT}, #{createTime, jdbcType=BIGINT},
			#{updateTime, jdbcType=BIGINT}
		)
	</insert>

	<update id="updateRentInfo" parameterType="RentInfo">
		update rent_info
		<trim prefix="set" prefixOverrides=",">
			<if test="renter != null and renter.uuid != null">, user_uuid = #{renter.uuid}</if>
			<if test="district != null and district.id != null">, district_id = #{district.id}</if>
			<if test="room != null">, room = #{room}</if>
			<if test="hall != null">, hall = #{hall}</if>
			<if test="kitchen != null">, kitchen = #{kitchen}</if>
			<if test="defend != null">, defend = #{defend}</if>
			<if test="size != null">, size = #{size}</if>
			<if test="minPrice != null">, min_price = #{minPrice}</if>
			<if test="maxPrice != null">, max_price = #{maxPrice}</if>
			<if test="contactName != null">, contact_name = #{contactName}</if>
			<if test="contactPhone != null">, contact_phone = #{contactPhone}</if>
			<if test="contactWechat != null">, contact_wechat = #{contactWechat}</if>
			<if test="reservationCount != null">, reservation_count = #{reservationCount}</if>
			<if test="type != null">, type = #{type}</if>
			<if test="detail != null">, detail = #{detail}</if>
			<if test="status != null">, status = #{status}</if>
			<if test="createTime != null">, create_time = #{createTime}</if>
			<if test="updateTime != null">, update_time = #{updateTime}</if>
		</trim>
		where uuid = #{uuid}
	</update>
	
	<update id="raiseReservationCount">
		update rent_info set reservation_count = reservation_count + 1 where uuid = #{uuid}
	</update>
	
	<update id="reduceReservationCount">
		update rent_info set reservation_count = reservation_count - 1 where uuid = #{uuid}
	</update>

</mapper>