<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iyuezu.mybatis.mapper.RoleMapper">

	<resultMap id="roleResult" type="Role">
		<result property="uuid" column="uuid" />
		<result property="key" column="key_word" />
		<result property="name" column="name" />
		<result property="parent" column="parent" />
		<result property="description" column="description" />
		<result property="status" column="status" />
	</resultMap>
	
	<select id="selectRoleByUuid" resultMap="roleResult">
		select
			ro.uuid as uuid, ro.key_word as key_word, ro.name as name, ro.parent as parent,
			ro.description as description, ro.status as status
		from roles as ro
		where ro.uuid = #{uuid}
	</select>
	
	<select id="selectRoles" resultMap="roleResult">
		select
			ro.uuid as uuid, ro.key_word as key_word, ro.name as name, ro.parent as parent,
			ro.description as description, ro.status as status
		from roles as ro
		<where>
			<if test="status != null">and ro.status = #{status}</if>
		</where>
		order by uuid
		<if test="offset != null and offset &gt; 0 and size != null and size &gt; 0">
			limit #{offset}, #{size}
		</if>
	</select>
	
	<select id="selectRolesByUser" resultMap="roleResult">
		select
			ro.uuid as uuid, ro.key_word as key_word, ro.name as name, ro.parent as parent,
			ro.description as description, ro.status as status
		from roles as ro join userrolerelation as ur on ro.uuid = ur.role_uuid
		<where>
			<if test="userUuid != null">and ur.user_uuid = #{userUuid}</if>
			<if test="status != null">and ro.status = #{status}</if>
		</where>
		order by uuid
		<if test="offset != null and offset &gt; 0 and size != null and size &gt; 0">
			limit #{offset}, #{size}
		</if>
	</select>
	
	<insert id="insertRole" parameterType="Role">
		insert into roles (
			uuid, key_word, name, parent, description, status
		) values (
			#{uuid, jdbcType=VARCHAR}, #{key, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{parent, jdbcType=VARCHAR},
			#{description, jdbcType=VARCHAR}, #{status, jdbcType=TINYINT}
		)
	</insert>
	
	<update id="updateRole" parameterType="Role">
		update roles
		<trim prefix="set" prefixOverrides=",">
			<if test="key != null">, key_word = #{key}</if>
			<if test="name != null">, name = #{name}</if>
			<if test="parent != null">, parent = #{parent}</if>
			<if test="description != null">, description = #{description}</if>
			<if test="status != null">, status = #{status}</if>
		</trim>
		where uuid = #{uuid}
	</update>
	
</mapper>